html{
    background-image: url(../img/main_house.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.warning{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    width: 30vw;
    min-height: 30vh;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

/* Тест квиз */

.quiz{
    display: flex;
    flex-direction: column;
    max-width: 38vw;
    border-radius: 10px;
    background-color: white;
}
.quiz__header{
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
}

/* Прогресс-бар */

.quiz__progress{
    height: 10px;
    border-radius: 30px;
    background-color: rgb(232, 232, 232);
}
.quiz__progress-inner{
    height: 100%;
    border-radius: 30px;
    width: 70%;
    background: rgb(18, 231, 48);
    transition: all .3s ease-in-out;
    background: linear-gradient(90deg, rgba(18, 231, 48, 1) 0%, rgba(0, 212, 255, 1));
}

/* Вопросы */

.quiz__content{
    padding: 30px 30px 20px;
    flex: 1 0 auto; /*Особо не знаю зачем, но пусть будет*/
}
.quiz__title{
    font-size: 25px;
    font-weight: 600;
}
.quiz__list{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 20px 0px;
}
.quiz__option{
    display: flex;
    align-items: center;
    justify-content: space-between; /*Нужно при добавлении значка справа от ответа*/
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    min-height: 44px;
    font-size: 17px;
    transition: all .3s ease;
    cursor: pointer;

    &:hover{
        color: #004085;
        background-color: #cce5ff;
        border: 1px solid #b8daff;
    }
    &.correct{
        color: #155724;
        background: #d4edda;
        border: 1px solid #c3e6cb;
    }
    &.incorrect{
        color: #721c24;
        background: #f8d7da;
        border: 1px solid #f5c6cb;
    }
    &.disabled{
        pointer-events: none;
    }
}

.quiz__footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid lightgray;
}
.quiz__total{
    display: flex;
    align-items: center;
}
.quiz__next-btn{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
}

/* Вывод результата */

.result{
    max-width: 38vw;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 20px 10px;
}
.result__img{
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        max-width: 38vw;
        width: 100%;
    }
}
.result__title{
    font-size: 22px;
    font-weight: 550;
    text-align: center;
}
.result__text{
    margin: 15px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.result__btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.result__restart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #007bff;
    color: #007bff;
    background: #fff;
    transition: all .3s ease-in-out;

    &:hover{
        color: #fff;
        background: #007bff;
    }
}

